@{
    ViewBag.Title = "Index2";

    // it's accessing all the parameter
    var page = Page;
    var f = Page[0];
    var s = Page[1];
    var t = Page[2];
}
<h1>@f , @s , @t </h1>
<h2>Index2</h2>

