
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_NewLayout</title>
</head>
<body>
    <header style="height:200px; background-color:aqua ">
        <h2>Header</h2>

    </header>
    <div>
        @RenderBody()
    </div>
    <footer style="height:200px; background-color:aqua ">
        <h2>Footer</h2>
    </footer>
</body>
</html>
